@media screen and (max-width: 673px) {
	table.responsive {
		width: 100%;
	}
	th {
		display: block;
		text-align: center;
		border-right: 1px solid #e1edff;
	}
	th::before {
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		content: attr(data-header);
	}
}

