form{
    padding: 70px;
    background-color: #00BFFF;
    color: white;
    border-style: dashed;
    border-color: white;
    border-width: thick; 
    border-radius: 30px;
    
}

h2{
    text-align: center;
    margin: 15px;
    color: white;
}

body{
    background: black;
    font-family: cursive;
}